# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
data = pd.read_csv(output_data_file)
data.head()

,City,Cloudiness,Lat,Long,Date,Humidity,Max_Temp,Country,Wind_Speed
0,dombarovskiy,100,50.76,59.54,1584194865,98,33.53,RU,8.81
1,berdigestyakh,0,62.10,126.70,1584194828,98,-17.77,RU,3.98
2,khatanga,69,71.97,102.50,1584194865,85,19.31,RU,11.52
3,rundu,100,-17.93,19.77,1584194865,38,86.99,NaN,4.85
4,ushuaia,75,-54.80,-68.30,1584194567,66,50.00,AR,17.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

coordinates = data[['Lat','Long']]
coordinates

       Lat    Long
0    50.76   59.54
1    62.10  126.70
2    71.97  102.50
3   -17.93   19.77
4   -54.80  -68.30
..     ...     ...
560  11.13    2.94
561  36.56  116.73
562  38.58  -92.17
563  63.20   75.45
564  64.90   45.76

[565 rows x 2 columns]

In [17]:
# Customize the size of the figure
m = gmaps.Map()

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
m = gmaps.figure(layout=figure_layout)

heatmap_layer = gmaps.heatmap_layer(data[['Lat','Long']], weights=data['Humidity'],max_intensity=100, point_radius=5.0
)
m.add_layer(heatmap_layer)
m

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map