# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
data = pd.read_csv(output_data_file)
data.head()

,City,Cloudiness,Lat,Long,Date,Humidity,Max_Temp,Country,Wind_Speed
0,dombarovskiy,100,50.76,59.54,1584194865,98,33.53,RU,8.81
1,berdigestyakh,0,62.10,126.70,1584194828,98,-17.77,RU,3.98
2,khatanga,69,71.97,102.50,1584194865,85,19.31,RU,11.52
3,rundu,100,-17.93,19.77,1584194865,38,86.99,NaN,4.85
4,ushuaia,75,-54.80,-68.30,1584194567,66,50.00,AR,17.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

coordinates = data[['Lat','Long']]
coordinates

       Lat    Long
0    50.76   59.54
1    62.10  126.70
2    71.97  102.50
3   -17.93   19.77
4   -54.80  -68.30
..     ...     ...
560  11.13    2.94
561  36.56  116.73
562  38.58  -92.17
563  63.20   75.45
564  64.90   45.76

[565 rows x 2 columns]

In [10]:
# Customize the size of the figure
m = gmaps.Map()

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
m = gmaps.figure(layout=figure_layout)

heatmap_layer = gmaps.heatmap_layer(data[['Lat','Long']], weights=data['Humidity'],max_intensity=100, point_radius=5.0
)
m.add_layer(heatmap_layer)
m

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
# making boolean series for ideal weather
filter1 = data["Max_Temp"] >= 70
filter2 = data["Max_Temp"]<=80
filter3= data["Cloudiness"]==0
filter4 = data["Wind_Speed"]<=10

hotel_df = data
  
# filtering data on basis of filters 
hotel_df.where(filter1 & filter2 & filter3 & filter4, inplace = True) 
  
# display 
hotel_df = hotel_df.dropna()
hotel_df.head()

,City,Cloudiness,Lat,Long,Date,Humidity,Max_Temp,Country,Wind_Speed
87,barmer,0.0,25.75,71.38,1.584195e+09,20.0,75.11,IN,7.23
162,weligama,0.0,5.97,80.42,1.584195e+09,84.0,77.27,LK,4.85
182,port alfred,0.0,-33.59,26.89,1.584195e+09,84.0,72.00,ZA,4.00
214,la asuncion,0.0,11.03,-63.86,1.584195e+09,88.0,78.80,VE,9.17
375,libacao,0.0,10.18,122.92,1.584195e+09,87.0,71.33,PH,3.83

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
# add Hotel Name colum with blank rows
hotel_df['Hotel_Name'] = ""

C:\Users\Zech\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

target_radius = 5000

params = { 
    "radius": target_radius,
    "type": "lodging",
    "key": g_key,
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row['Lat']
    long = row['Long']
    city = row['City']
              
    coordinates = str(lat) + "," + str(long)

    # add keyword to params dict
    params['location'] = coordinates

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()

    # extract results
    results = response['results']

    try:
        print(f"Found Hotel for {city} hotel is {results[0]['name']}.")

        hotel_df.loc[index, 'Hotel_Name'] = results[0]['name']

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

    print("------------")

Found Hotel for barmer hotel is Jain Dharamshala.
------------

C:\Users\Zech\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Found Hotel for weligama hotel is Weligama Bay Resort.
------------
Found Hotel for port alfred hotel is The Halyards Hotel.
------------
Found Hotel for la asuncion hotel is Colinas de Matasiete.
------------
Found Hotel for libacao hotel is Villa Mercedez.
------------
Found Hotel for vetapalem hotel is G.S Lodge.
------------
Found Hotel for chor hotel is Asad U Bajeer Hotel.
------------
Found Hotel for trincomalee hotel is Welcombe Hotel.
------------
Found Hotel for grahamstown hotel is Bartholomew's Loft.
------------
Missing field/result... skipping.
------------
Found Hotel for barcelos hotel is Hotel Do Terço.
------------

In [14]:
hotel_df.head()

,City,Cloudiness,Lat,Long,Date,Humidity,Max_Temp,Country,Wind_Speed,Hotel_Name
87,barmer,0.0,25.75,71.38,1.584195e+09,20.0,75.11,IN,7.23,Jain Dharamshala
162,weligama,0.0,5.97,80.42,1.584195e+09,84.0,77.27,LK,4.85,Weligama Bay Resort
182,port alfred,0.0,-33.59,26.89,1.584195e+09,84.0,72.00,ZA,4.00,The Halyards Hotel
214,la asuncion,0.0,11.03,-63.86,1.584195e+09,88.0,78.80,VE,9.17,Colinas de Matasiete
375,libacao,0.0,10.18,122.92,1.584195e+09,87.0,71.33,PH,3.83,Villa Mercedez

In [18]:
# NOTE: Do not change any of the code in this cell
narrowed_city_df = hotel_df[['Hotel_Name','City','Country']]
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [24]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content = hotel_info)
# Add the layer to the map
m = gmaps.Map()
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
m = gmaps.figure(layout=figure_layout)

m.add_layer(markers)
m.add_layer(heatmap_layer)

m

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…